aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aiosignal==1.3.2
aiosqlite==0.21.0
annotated-types==0.7.0
anyio==4.8.0
attrs==25.3.0
azure-core==1.33.0
azure-storage-blob==12.25.1
beautifulsoup4==4.13.4
Brotli==1.1.0
certifi==2024.12.14
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
Crawl4AI @ git+https://github.com/unclecode/crawl4ai.git@146f9d415fe4451265eeefc9249e384f14da6a31
cryptography==44.0.2
cssselect==1.3.0
distro==1.9.0
fake-http-header==0.3.5
fake-useragent==2.2.0
fastapi==0.109.0
filelock==3.18.0
frozenlist==1.6.0
fsspec==2025.3.2
greenlet==3.2.1
gunicorn==23.0.0
h11==0.14.0
httpcore==1.0.8
httpx==0.28.1
huggingface-hub==0.30.2
humanize==4.12.2
idna==3.10
importlib_metadata==8.6.1
isodate==0.7.2
Jinja2==3.1.6
jiter==0.9.0
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
litellm==1.67.1
lxml==5.4.0
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
multidict==6.4.3
nltk==3.9.1
numpy==1.26.2
openai==1.75.0
packaging==24.2
pandas==2.1.4
pillow==10.4.0
playwright==1.51.0
propcache==0.3.1
psutil==7.0.0
pycparser==2.22
pydantic==2.11.3
pydantic_core==2.33.1
pyee==12.1.1
Pygments==2.19.1
PyMySQL==1.1.1
pyOpenSSL==25.0.0
pyperclip==1.9.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python-http-client==3.3.7
python-multipart==0.0.20
pytz==2024.2
PyYAML==6.0.2
rank-bm25==0.2.2
referencing==0.36.2
regex==2024.11.6
requests==2.31.0
rich==14.0.0
rpds-py==0.24.0
schedule==1.2.2
scikit-learn==1.6.1
scipy==1.15.2
sendgrid==6.11.0
six==1.17.0
sniffio==1.3.1
snowballstemmer==2.2.0
soupsieve==2.7
SQLAlchemy==2.0.23
starkbank-ecdsa==2.2.0
starlette==0.35.1
tf-playwright-stealth==1.1.2
threadpoolctl==3.6.0
tiktoken==0.9.0
tokenizers==0.21.1
tqdm==4.67.1
typing-inspection==0.4.0
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
uvicorn==0.27.0
xxhash==3.5.0
yarl==1.20.0
zipp==3.21.0
